.orders {
    display: flex;
    justify-content: center;

    .container {
        width: 1400px;
        padding: 50px 0px;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;


        }

        table {
            width: 100%;
            border-spacing: 0;

            tr {
                height: 50px;

                &:nth-child(even) {
                    background-color: #1dbf730f;
                }

                th {
                    text-align: left;
                }

                td {


                    .img {
                        width: 50px;
                        height: 25px;
                        object-fit: cover;

                    }

                    .delete {
                        width: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}